.btn {
  padding: 5px 10px;
  background: transparent;
  text-transform: uppercase;
  border: 1px solid $light_gray;
  @include borderRadius(5px);
  @include transition(all $tl ease-in-out);
  &:hover {
    border: 1px solid $trans_white;
    color: $trans_white;
  }
}