.btn {
  padding: 5px 10px;
  background: transparent;
  text-transform: uppercase;
  border: 1px solid $light_gray;
  @include borderRadius(5px);
  @include transition(all $tl ease-in-out);
  &:hover {
    border: 1px solid $trans_white;
    color: $trans_white;
  }
}
.btn-white {
  background-color: $white !important;
  color: $fourpoint_blue !important;
  border: 1px solid $fourpoint_blue !important;
  @include transition(background 0.3s ease);
  &:hover {
    background: transparent !important;
    border-color: $white !important;
    color: $white !important;
    @include transition(background 0.3s ease);
  }
}

.btn-blue {
  border: 1px solid $fourpoint_blue !important;
  &:hover {
    background: transparent !important;
    color: $fourpoint_blue !important;
    @include transition(background 0.3s ease);
  }
}